<%= stylesheet_link_tag 'user.css' %>
<h1> All Programmers </h1>
<br>
<%= button_to "View All Nonprofits", nonprofits_path, :method => :get %> 
<br>
<%= button_to "View All Project", projects_path, :method => :get %>
<br>
<%= button_to "View All Project Categories", categories_path, :method => :get %>
<br>
<%= button_to "Create a New Programmer", new_programmer_path, :method => :get %>
<br>
<%= button_to "Logout", logout_path, :method => :get %>
<br>
<ul>
    <% @programmers.each do |p| %>
        <li>
        <a href='/programmers/<%= p.id %>'>
        <%= p.name %>
        </a>
        </li>
    <% end %>
</ul>

